/* CSS Stylesheeet */

* {
  box-sizing: border-box; /* width and height include content, padding,
                                border -- not margin */
}

body {
  background-image: url("images/background.gif");
  background-color: #fcebb6;
  color: #221811;
  font-family: verdana, arial, sans-serif;
}

header {
  background-color: #d2b48c;
  height: 150px;
  background-image: url("images/javajamlogo.jpg");
  background-repeat: no-repeat;
}

h1 {
  padding-top: 45px;
  padding-left: 220px; /* Makes sure title isnt under img */
  font-size: 3em;
}

h2, h3, p, div, ul, dl {
  padding-left: 3em;
  padding-right: 2em;
}

h4 {
  background-color: #d2b48c;
  font-size: 1.2em;
  padding-left: 3em;
  padding-right: 2em;
  text-transform: uppercase;
  border-bottom: solid 2px #000000;
  clear: left;
}

main { /* hero image should fill entire area? not sure if does yet */
  background-color: #FEF6c2;
  margin-left: 200px;
  padding-bottom: 40px;
  display: block; /* prevents rendering issues on IE */
}

nav {
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  padding-top: 10px;
  width: 200px;
  float: left;
}

nav ul {
  list-style: none;
  padding-left: 0;
}

nav a {
  text-decoration: none; /* Removes underline from link */
}

nav a:link {
  color: #fef6c2;
}

nav a:visited {
  color: #d2b48c;
}

nav a:hover {
  color: #cc9933;
}

dt {
  font-weight: bold;
}

img {
  padding: 0 10px 0 10px;
}

footer {
  background-color: #d2b48c;
  font-size: .60em;
  font-style: italic;
  text-align: center;
  padding-bottom: 10px;
  border-top: solid 2px #221811;
}

header, nav, main, footer {
  display: block;
}

table {
  margin: auto;
  width: 90%;
  border-spacing: 0;
  background-color: #ffffcc;
}

td, th {
  padding: 10px;
}

tr:nth-of-type(odd) {
  background-color: #d2b48c;
}

#wrapper{ /* ID */
  width: 80%;
  margin-left: auto; /* both these margins centers the div */
  margin-right: auto;
  padding: 0; /* stretches out *MAIN* so that it covers all of #wrapper div */
  /*background-color: #fef6c2;*/
  background-color: #231814;
  min-width: 900px; /* makes the div change dynamicly as window changes size */
  max-width: 1280px; /* or else it will all jumble up when shrunk */
  box-shadow: 5px 5px 5px #000000;
}

#heroroad {
  background-image: url("images/heroroad.jpg");
  background-size: 100%;
  height: 250px;
  background-repeat: no-repeat; /* personally added */
}

#heromugs {
  background-image: url("images/heromugs.jpg");
  background-size: 100%;
  height: 250px;
  background-repeat: no-repeat;
}

#heroguitar {
  background-image: url("images/heroguitar.jpg");
  background-size: 100%;
  height: 250px;
  background-repeat: no-repeat;
}

#mobile {
  display: none;
}

#desktop {
  display: inline;
}

.details { /* Class */
  padding: 0 20% 0 20%;
  overflow: auto;
}

.floatleft {
  float: left;
  padding: 0 20px 20px 0;
}

@media only screen and (max-width: 1024px){ /* used for devices 1024px and less (tablets) */
body {
  margin: 0;
}

#wrapper{
  width: auto;
  min-width: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
}

header {
border-bottom: 5px solid #fef6c2; /* creates that thin line between nav and header */
}

h1 {
  margin-top: 0;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 2.5em;
}

nav {
  float: none; /* creates 1 column layout */
  width: auto;
  padding-top: 0;
  margin: 10px;
  font-size: 1.3em;
}

nav li {
  display: inline-block; /* creates a horizontal navbar */
}

nav a {
  padding: 1em;
  width: 8em;
  font-weight: bold;
  border-style: none;
}

nav ul {
  padding: 0;
  margin: 0;
}

main {
  padding: 0;
  margin: 0;
  font-size: 90%;
  padding-bottom: 40px;
}

} /* End OF tablet media query 1024px max */

@media only screen and (max-width: 768px){ /* for devices at 768px and less, (smartphones) */
  header {
    background-image: url("images/javajammini.jpg");
    height: 128px;
  }

  h1 {
    font-size: 2em;
    text-align: center;
    padding-left: 0;
  }

  nav {
    margin: 0;
  }

  nav a {
    display: block;
    padding: 0.2em;
    width: auto;
    border-bottom: 1px solid #fef6c2;
  }

  nav li {
    display: block;
  }

  main {
    padding-top: 1px;
    padding-bottom: 40px;
  }

  h2 {
    padding: 0.5em 0 0 0.5em;
    margin-right: 0.5em;
  }

  #details{
    padding-left: 0;
    padding-right: 0;
  }

  #heroroad, #heromugs, #heroguitar {
    background-image: none;
    height: auto;
  }

  #mobile { /* use href:tel because of smartphone */
    display: inline;
  }

  #desktop {
    display: none;
  }

  .floatleft {
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

} /* end of smartphone query */
